/* styles.css */

/* Barra de navegación */
body {
    min-width: 550px; /* o cualquier otro valor que prefieras */
    margin-top: 60px; 
}
.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
    position: fixed; /* Fija la posición en la parte superior */
    top: 0; /* Alinea la barra de navegación en la parte superior de la pantalla */
    left: 0; /* Alinea la barra de navegación a la izquierda de la pantalla */
    width: 100%; /* Asegura que la barra se extienda por todo el ancho */
    z-index: 1000; /* Asegura que la barra de navegación se mantenga por encima de otros elementos */
    
}

.left-container,
.center-container,
.right-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.center-container{
    flex: 2; /* Permite que la barra de búsqueda crezca más que los otros contenedores */
    max-width: 300px; /* Rango máximo para la barra de búsqueda */
}


/* Logo de LinkedIn */
.logo img {
    margin-left: auto;
    margin-right: auto;

    max-width: 40px;
}

.search-icon {
    display: none; /* Oculta inicialmente el ícono de lupa */
    cursor: pointer;
   
}

/* Barra de búsqueda */
.search-bar {
    flex-grow: 1;
    margin: 0 15px;
    max-width: 200px; /* Establece un ancho máximo para la barra de búsqueda */
    margin-right: auto;
   
}

/* Input de búsqueda */
.search-bar input {
    width: 100%;
    padding: 8px;
    border: 1px solid #edf3f8;
    border-radius: 4px;
}


/* Ítems de navegación */

/* Estilos para el contenedor de los elementos de navegación */
.nav-items {
    display: flex;
    align-items: center; /* Alinea los ítems verticalmente */
    margin-right: auto;
}

/* Estilos para cada ítem de navegación */
.nav-item {
    display: flex;
    flex-direction: column; /* Alinea el ícono y el texto del ítem verticalmente */
    align-items: center; /* Centra el ícono y el texto horizontalmente dentro del ítem */
    margin-right: 20px; /* Espacio entre los ítems de navegación */
}

.nav-items .nav-item:first-child {
    margin-left: 30px; 
}

/* Efecto hover para oscurecer los ítems */
.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Color de fondo ligeramente oscurecido */
    border-radius: 4px;
}

.nav-item img {
    width: 35px; /* Tamaño del ícono */
    height: auto;
    transition: filter 0.3s;
}

/* Efecto hover para los íconos */
.nav-item:hover img {
    filter: brightness(70%); /* Oscurece el ícono */
}


.nav-item .nav-text {
    font-size: 12px; /* Tamaño del texto */
    text-align: center; /* Asegura que el texto esté centrado debajo del ícono */
    color: black; /* Color del texto */
    transition: color 0.3s;
}

/* Efecto hover para el texto */
.nav-item:hover .nav-text {
    color: #333; /* Oscurece el texto */
}

/* Hover en ítems de navegación */
.nav-items a:hover {
    background-color: #46637f;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr 300px; /* 300px para la sección fija y fracciones para las demás */
    gap: 20px; /* Espacio entre las columnas */
}

.section {
    display: flex;
    flex-direction: column; /* Para las secciones que tienen sub-secciones */
    gap: 10px; /* Espacio entre sub-secciones */
    height: 100px; /* Altura para las sub-secciones más pequeñas */
    min-width: 30px;

}

.sub-section, .sub-section-long {
    background-color: orange; /* Color de fondo para identificar las sub-secciones */
}

.sub-section {
    height: 100px; /* Altura para las sub-secciones más pequeñas */
}

.sub-section-long {
    height: 200px; /* Altura para las sub-secciones más largas */
}

.section-5.fixed-size {
    background-color: blue; /* Color de fondo para la sección fija */
    height: 80vh; /* Altura fija que ocupa toda la altura de la ventana */
    width: 300px; /* Ancho fijo como se define en grid-template-columns */
    position: fixed;
    right: 0; /* Alinea el cuadro a la derecha de la pantalla */
    bottom: 0; /* Alinea el cuadro en la parte inferior de la ventana */
    margin-bottom: 30px;
    z-index: 10; 
    
}

.saludo {
    color: white; /* Color del texto */
    position: absolute; /* Posiciona el texto de forma absoluta dentro de la sección fija */
    top: 0; /* Alinea el texto en la parte superior del cuadro azul */
    left: 0; /* Alinea el texto a la izquierda del cuadro azul */
    padding: 10px; /* Añade algo de espacio alrededor del texto */
}

/*----------------QUERY-------------------
/*----------------QUERY-------------------
/*----------------QUERY-------------------

/* Media query para ocultar la barra de búsqueda y mostrar el ícono en pantallas pequeñas */
@media (max-width: 600px) {

    .nav-container {
        justify-content: flex-start; /* Distribuye los elementos en pantallas pequeñas */
        align-items: center;
    }
   
    .center-container{
        max-width: 40px;
;
    }
    
    .right-container {
        align-items: right;
    }

    .logo {
        margin-left: 10px; /* Margen mínimo a la izquierda */
        margin-right: 10px; /* Margen mínimo a la derecha */
    }

    .search-bar {
        max-width: 50px; 
    }

    .search-bar input {
        display: none; /* Oculta la barra de búsqueda */
    }

    .search-icon {
        display: block; /* Muestra el ícono */
        /* Ajustes adicionales para el tamaño y alineación del ícono */
        max-width: 50px; /* Ajusta esto según el tamaño deseado */
        height: auto; /* Mantiene la proporción del ícono */
        margin-left: 5px;
        margin-right: 5px;
    }
    /* Aumenta el tamaño del ícono */
    .nav-item img {
        width: 40px; /* Nuevo tamaño del ícono */
    }
    
    /* Oculta el texto */
    .nav-item .nav-text {
        display: none; /* Oculta el texto */
    }
    .main-container {

        display:flex;
        gap: 0px;
   }
    .section-1, .section-2, .section-4, .section-5 {
        display: none;
    }
    /* Asegúrate de que la sección 3 utilice todo el espacio disponible */
    .section-3 {
        width: 100%;
    }

}

